.main {
    background-image: url("../media/Rectangle.png");
    display: flex;
    padding: 0 405px;
    padding-top: 122px;
    padding-bottom: 140px;
    color: white;
}

.main .contacts h1 {
    font-family: 'Merrweather', serif;
    font-size: 48px;
}

.main .contacts p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.message-form form {
    display: flex;
    flex-direction: column;
}

.message-form form {
    display: flex;
}

.message-form form p {
    font-size: 16px;
    font-family: 'lato', sans-serif;
}

.message-form form input:focus-visible {
    outline: none;
}

.message-form form textarea:focus-visible {
    outline: none;
}