* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.icons_block {
  display: flex;
}

.icons_block div {
  padding: 0 20px;
}

.icons_block :first-child {
  border-right: 1px solid #dadbdd;
}

nav a {
  color: #424551;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search_input {
  border: 1px solid #d7dadd;
  padding: 12px 16px;
  border-radius: 4px;
  width: 380px;
}

.green_baner {
  background-color: #17696a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.green_baner a {
  color: white;
  margin: 0 2px;
  font-size: 12px;
}

.green_baner button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: 0 15 px;
}

.first_link {
  font-weight: 900;
  text-decoration: none;
}

#catigory_block {
  background-image: url("../media/manswear_background.png");
  background-position: center;
  background-size: cover;
  height: 800px;
}

.img_block {
  padding: 140px 0 180px 0;
}

.new_collection {
  font-weight: 700;
  font-size: 18px;
  color: #1E212C;
}

section h2 {
  font-size: 72px;
  margin: 20px 0 60px 0;
  font-weight: 900;
  color: #1E212C;
}

.buttoms button {
border: 1px solid #17696A;
border-radius: 4px;
height: 52px;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}

.buttoms {
    display: flex;
    gap: 24px;
}

.shop_sale {
  width: 152px;
  background-color: transparent;
  color: #17696a;
}

.shop_the_mw {
  width: 229px;
  background-color: #17696a;
  color: white;
}

.numbers_block {
    display: flex;
    gap: 4px;
    color: rgba(66, 69, 81, 0.6);
    margin-top: 180px;
}

.numbers_block div {
    border-bottom: 2px solid  rgba(66, 69, 81, 0.6);
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    width: 178px;
    cursor: pointer;
}

.numbers_block div:hover {
    color:  rgba(66, 69, 81, 1);
    border-bottom: 2px solid rgba(66, 69, 81, 1);
}