* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
    width: 80vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(251, 251, 255, 1) 0%,
    rgba(212, 211, 237, 1) 0%,
    rgba(241, 240, 250, 1) 0%,
    rgba(215, 215, 215, 1) 0%,
    rgba(0, 7, 255, 1) 70%,
    rgba(46, 39, 158, 1) 100%
  );
}



.first_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}


.project_container{
    display: grid;
    grid-template: repeat(auto-fill, 200px)/ repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
    gap: 10px;
    justify-content: center;
}

.img_div {
background-image: url(https://w.forfun.com/fetch/94/94c56e15f13f1de4740a76742b0b594f.jpeg);
background-size: 200px;
background-repeat: no-repeat;
}


@media (max-width: 800px) {
    .main {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }


    .imgElem {
        height: 200px;
        width: 200px;
    }

    
    /* .project_container {
        grid-template: repeat(3, 200px)/ repeat(4, 200px);
    } */
  }

  /* @media (max-width: 500px) {
    .project_container {
        grid-template: repeat(5, 200px)/ repeat(2, 200px);
    }
  } */