*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper{
    height: 100vh;
    width: 800px;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
}

.wrapper div{
    border: 1px solid black;
}


img {
    height: 200px;
    width: auto;
    object-fit: cover;
}